<h1>検索結果</h1>
<div class="results">
    
    <table>
        <thead class="serch-content">
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>住所</th>
            <th>料金（円)</th>
        </thead>
        <tbody class="serch-infomation">
        <% @results.each do |room| %>
            <tr>
                <td><%= image_tag room.room_image.url, class: "serch-image" %></td>
                <td><%=link_to "#{room.room_name}", controller: 'rooms', action: 'show', id: room.id  %></td>
                <td><%= room.adress %></td>
                <td><%= room.price %></td>
            </tr>
        <% end %>   
        </tbody>    
   </table>    
</div>