<table>
    <tr>
        <th>予約した部屋</th>
         <td><%= @reservation.room.room_name %></td>
    </tr>
    <tr>
        <th>開始日</th>
        <td><%= @reservation.startDay %></td>
    </tr>
    <tr>
        <th>終了日</th>
        <td><%= @reservation.endDay %></td>
    </tr>
    <tr>
        <th>価格</th>
        <td><%= @reservation.totalPrice %></td>
    </tr>
</table>
